# Path to the Singularity container
#singularity: "/home/nikos/other_apps/bin/poolseq_tools_0.2.14.sif"
#singularity: "/mnt/forgenet_a/container_images/poolseq_tools_0.2.10.sif"
singularity: "/home/geneticsShare/container_images/poolseq_tools_0.2.14.sif"

# List of sample names
samples:
  - ACORN_Qpet_1CA_MinDP20_MaxMeanDP178_Miss0075_MAF005_HDplot
  # - ACORN_Qpet_1GA_MinDP20_MaxMeanDP178_Miss0075_MAF005_HDplot
  #- ACORN_Qpub_2CA_MinDP20_MaxMeanDP165_Miss0075_MAF005_HDplot
  #- ACORN_Qpub_2EA_MinDP20_MaxMeanDP171_Miss0075_MAF005_HDplot
  # - ACORN_Qpub_2GA_MinDP20_MaxMeanDP164_Miss0075_MAF005_HDplot
  # - ACORN_Qrob_3CA_MinDP20_MaxMeanDP189_Miss0075_MAF005_HDplot
  # - ACORN_Qrob_3EA_MinDP20_MaxMeanDP191_Miss0075_MAF005_HDplot
  # - ACORN_Qrob_3GA_MinDP20_MaxMeanDP188_Miss0075_MAF005_HDplot

# List of envfactor names
#envfactor_names: ["hillshade", "aspect.eastness", "aspect.northness", "topographic.exposure", "horizontal.curvature", "vertical.curvature", "slope.degrees", "vrm", "wetness.index.dinf", "total.solar.radiation", "bio1", "bio2", "bio3", "bio4", "bio5", "bio6", "bio7", "bio8", "bio9", "bio10", "bio11", "bio12", "bio13", "bio14", "bio15", "bio16", "bio17", "bio18", "bio19"]
envfactor_names: ["hillshade", "aspect.eastness", "aspect.northness", "topographic.exposure", "horizontal.curvature", "vertical.curvature", "vrm", "wetness.index.dinf", "diffus.solar.radiation", "direct.solar.radiation", "total.solar.radiation", "bio1", "bio2", "bio3", "bio4", "bio5", "bio6", "bio7", "bio8", "bio9", "bio10", "bio11", "bio12", "bio13", "bio14", "bio15", "bio16", "bio17", "bio18", "bio19", "slope.degrees"]

# Paths to the environmental factors and poolsizes files
input_files:
  envfactors: "data/20240915_ACORN_dem_TOPO_by_POP_NT.csv"
  poolsizes: "data/20240307_poolsizes_per_pop.csv"

# Parameters for the analysis
parameters:
  rank_transform_covariates: False
  n_subs: 300 # Number of subsets for splitting the baypass input file
  n_core_replicates: 3  # Number of replicates for the core model
  min_haploid_pool_size: 30  # Minimum haploid pool size
  n_pilot: 100  # Number of pilot runs
  bf_threshold: 20  # Bayes factor threshold
  spearman_threshold: 0.7  # Spearman correlation
  WZA_window_size: 5000  # Window size for the WZA
  WZA_maf_threshold: 0  # Minor allele frequency threshold for the WZA
  WZA_fdr: 0.05  # False discovery rate for the WZA

# Optional: Path to GFF file with genomic regions to exclude
# If not provided or left empty, no filtering will be performed
gff_file: "data/Qrob_PM1N_refTEs.gff"

# Set resources settings for each rule
# This is only useful if you are running the pipeline on a HPC cluster
# If not, you can ignore this section
resources:
  vcf2genobaypass:
    runtime: 90
    mem_mb: 24000
    slurm_partition: "batch"
  run_baypass_core:
    runtime: 1440
    mem_mb: 1000
    slurm_partition: "batch"
  run_baypass_covariate:
    runtime: 12960
    mem_mb: 2000
    slurm_partition: "htc"
  baypass_covariate_diagnostics:
    runtime: 90
    mem_mb: 8000
    slurm_partition: "batch"
  run_baypass_c2:
    runtime: 2880
    mem_mb: 2000
    slurm_partition: "htc"
  c2_diagnostics:
    runtime: 30
    mem_mb: 8000
    slurm_partition: "batch"
  concatenate_results_covariate:
    runtime: 180
    mem_mb: 36000
    slurm_partition: "batch"
  make_snps_bed:
    runtime: 20
    mem_mb: 12000
    slurm_partition: "batch"
  intersect_snps_tes:
    runtime: 180
    mem_mb: 32000
    slurm_partition: "batch"
  make_filtered_results_covariate:
    runtime: 60
    mem_mb: 8000
    slurm_partition: "batch"
  gea_scatter_plots:
    runtime: 180
    mem_mb: 36000
    slurm_partition: "batch"
  concatenate_results_c2:
    runtime: 120
    mem_mb: 24000
    slurm_partition: "batch"
  prepare_WZA:
    runtime: 40
    mem_mb: 8000
    slurm_partition: "batch"
  filter_WZA_input:
    runtime: 15
    mem_mb: 100000
    slurm_partition: "batch"
  WZA:
    runtime: 60
    mem_mb: 100000
    slurm_partition: "batch"
  WZA_diagnostics:
    runtime: 30
    mem_mb: 8000
    slurm_partition: "batch"